body {
    margin: 0px;
    height: 100vh;
}
.page {
    display: flex;
}

.content {
    width: 75%;
}

.content canvas {
    width: 75vw;
    height: 100vh;
    display: inline;
}

.commentary {
    width: 25%;
}

